{% extends "ProjectSedBundle:Default:base.html.twig" %}

{% block contenido %}

{{ form(form)  }}
<table border="1">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Programa</th>
        <th>Creditos</th>
        <th>No. Semestre</th>
    </tr>
</table>
{% endblock %}


